@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --clr-primary: #0a0c11;
  --clr-secondary: #ffffff;
  --clr-accent: #007aff;
  --clr-blue: #007aff;
  --clr-blue-light: #007AFF26;
  --clr-gray: #8c929c;
  --clr-gray-light: #F4F4F4;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--clr-primary);
  --color-secondary: var(--clr-secondary);
  --color-accent: var(--clr-accent);
  --color-blue: var(--clr-blue);
  --color-blue-light: var(--clr-blue-light);
  --color-gray: var(--clr-gray);
  --color-gray-light: var(--clr-gray-light);
  --font-lexend-deca: "Lexend Deca", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--clr-primary);
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 1740px) {
  html {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  body {
    max-width: 1740px;
    width: 100%;
  }
}
